body {
  /*background-color: lightblue;*/
  background-image: url("underwater.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: #76bed9;
}

.content{
    position:absolute;
    top:50%;
    left:50%;
    width :200px;
    height:200px;
    margin-left:-100px;
    margin-top:-100px;
    transform: translate(-50%, 0%);
}

textarea {
  width: 200%;
  height: 200%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #1d6f8f;
  border-radius: 4px;
  background-color: #fff2ee;
  font-size: 16px;
  resize: none;
  outline: none !important;
}

input {
  transform: translate(+53%, -50%);
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #1d6f8f;
  border-radius: 4px;
  background-color: #fff2ee;
  font-size: 12px;
  resize: none;
}

.heading{
  position:absolute;
  top:50%;
  left:50%;
  width :400px;
  height:200px;
  margin-left:0px;
  margin-top:-200px;
  transform: translate(-50%, 0%);
  text-align: center;
  /*text-shadow: 2px 2px 5px yellow;
  color: #141d75;*/
  text-shadow: 4px 4px 10px yellow;
  color: #141d75;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

/*.button {
    background-color: black;
    border: none;
    color: whitesmoke;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 40%;
    cursor: pointer;
}*/

/* Obtained from https://getcssscan.com/css-buttons-examples */
/* originally called "button-33" */

/* CSS */
.button {
  appearance: none;
  transform: translate(+50%, 0%);
  text-align: center;
  background-color: #fff2ee;
  border: 2px solid #1d6f8f;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3f6493;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 40px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  line-height: 0px;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  height: 10%;
  will-change: transform;
}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  color: #1d6f8f;
  background-color: #ffcd96;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translate(+50%, -2px);
}

.button:active {
  box-shadow: none;
  transform: translate(+50%, 0);
}